<div [formGroup]="form">
  <div *ngIf="item.type == 'select'">
    <div>{{item.text}}</div>
    <select [formControlName]="item.name" id="">
      <option *ngFor="let dataItem of item.data" [value]="dataItem">{{dataItem}}</option>
    </select>
    <div *ngIf="controlName?.invalid" style="color: red">
      error
    </div>
  </div>
  <div *ngIf="item.type == 'input'">
    <div>{{item.text}}</div>
    <input [type]="item.dataType" [formControlName]="item.name">
    <div *ngIf="controlName?.invalid" style="color: red">
      error
    </div>
  </div>
</div>
