<div [formGroup]="form">
  <div *ngIf="item.type == 'select'">
    <mat-form-field appearance="fill">
      <mat-label>{{item.text}}</mat-label>
      <mat-select [formControlName]="item.name">
        <mat-option *ngFor="let dataItem of item.data" [value]="dataItem">{{dataItem}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="item.type == 'input'">
    <mat-form-field appearance="fill">
      <mat-label>{{item.text}}</mat-label>
      <input matInput [type]="item.dataType" [formControlName]="item.name">
    </mat-form-field>
  </div>
</div>
